
nav{
    text-align: center;
    padding: 1%;
}
nav a{
    padding: 10px;
    background-image: linear-gradient(grey, black);
    color: white;
    margin: 5px;
    text-decoration: none;
}
nav a:hover {
    background-image: linear-gradient(white, black);
    color: black;
  }
div {
 
    margin: 2%;
    padding-bottom: 3%;
}
h2 {
    text-align: center;
}